<div class="error">
	<% if @status.to_s == "404" %>

		<%= content_tag :div, "Sorry, this page is missing!", class: "message" %>

	<% else %>

		<!--Message -->
		<%= content_tag :div, class: "message" do %>
			<%= content_tag :div, class: "title" do %>
				<span><%= details[:name] %></span>
				<span><%= "Code: #{@status}" %></span>
			<% end %>
			<%= content_tag :div, class: "info" do %>
				<strong>Sorry, an error has occured:</strong>
				<span><%= details[:message] %></span>
				<strong>The development team has been notified, we're working on it!</strong>
			<% end %>
		<% end %>
			
	<% end %>
</div>