- if @status.to_s == "404"
	Sorry, this page is missing!
- else
	.error
		/Alert
		= image_tag 'exception_handler/alert.png', width: "150", alt: "Error!", title: "Sorry, A Server Error Occurred", class: "alert"

		/Message
		.message
			%strong
				= details[:name]
			%span
				= details[:message]

		/Contact
		.contact
			- ExceptionHandler.config.social.each do |item, address|
				%a{ href: address, target: "_blank" }> #{image_tag "exception_handler/contact/#{item}.png", title: item.to_s.titleize}