<!DOCTYPE html>
<html>
  <head>

    <!--Info -->
    <title><%= "Code #{@status} (#{details[:name]}) | #{@app_name.upcase}" %></title>
    <%= stylesheet_link_tag "exception_handler/error" %>

  </head>
  
  <!--Body -->
  <body>
    <div class="container">
      <%= yield %>
    </div>

    <!-- Footer -->
    <footer>
    	<div class="connect">
    		<% ExceptionHandler.config.social.each do |item, address| %>
    			<%= link_to image_tag("exception_handler/connect/#{item}.png", title: "Find us on " + item.to_s.titleize), address, target: :blank, class: item.to_s %>
    		<% end %>
    	</div>
    	<div class="app">
    		<strong><%= link_to @app_name, root_url, title: "Go to index" %></strong>
    		<span> - <%= @status %> Error</span>
    	</div>
    </footer>

  </body>
</html>